/* Modificações globais */

* {
    padding: 0px;
    margin: 0px
}

a {
    text-decoration: none;
}

#all {
    width: 1280px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    background-color: #f3f3f3;
}

body {
    background-color: #f3f3f3;
}

#bodyArea{
    width: 100%;
    margin-top: 100px;
}

.globalTitle{
    color: #4A4A4A;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}




/* HEADER */
#headerBackground{
    background-color: white;
    width: 100%;
    border-bottom: 2px solid #2bb836;
}

#headerInv{
    padding: 30px;
    width: 1280px;
    margin: auto;
}

#headerLogo{
    font-size: 40px;
    margin-left: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #318a38;
    cursor: pointer;
    align-self: center;
}

#headerInv{
    display: flex;
    justify-content: space-between;
}

#headerMenuArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#anunciarBtn{
    display: flex;
    background-color: #318a38;
    padding: 10px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
}

#anunciarBtn:hover{
    background-color: #2bb836;
}

#userStatus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

#areaLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

.imgsMenu{
    height: 32px;
    margin-right: 8px;
}

#meusAnunciosArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 40px;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

#userAvatar{
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

#seta{
    margin-left: 10px;
}
#seta img{
    height: 12px;
}

#userName{
    display: flex;
    color: #4A4A4A;
}

#meusAnunciosText{
    color: #4A4A4A;
}

#meusAnunciosText:hover{
    color: #318a38;
}

#userOpts{
    display: none;
    position: absolute;
    background-color: white;
    top: 80px;
    right: 440px;
    box-shadow: 0px 0px 13px 1px rgba(199,199,199,0.63);
}

.on{
    display: block !important;
}

.off{
    display: none !important;
}

#userOpts li a{
    color: #4A4A4A !important;
    text-decoration: none;
    font-family: 'Nunita Sans', sans-serif;
}

#userArea{
    text-decoration: none;
    list-style-type: none;
}

#userOpts li{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#userOpts li:hover{
    background-color: #F9F9F9;
}

#userOpts li a:hover{
    color: #318a38 !important;
}

.endC{
    border-bottom: solid 1px rgba(74, 74, 74, 0.5);
}




/* AREA DE PESQUISA */
#seachBackground{
    width: 100%;
    background-color: #318a38;
}




/* Classes e IDs Pai DAS BOXES*/
#boxesArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxesTitle {
    color: #f9f2e8;
    font-family: 'RaleWay', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.boxesText {
    width: 500px;
    margin: auto;
    color: #f9f2e8;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 900;
}

.boxesBtn {
    width: 70%;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.boxesImg img {
    width: 80px;
}

.boxesImg {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

#subBoxeArea {
    height: 225px;
    width: 100%;
    background-color: #f3f3f3;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 5px;

}

.imgBenefs {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 80px;
    align-items: center;
    justify-content: center;
}

.imgBenefs img {
    width: 48px;
}

.txtBenefs {
    width: 230px;
    color: #f9f2e8;
    font-size: 18px;
}

/*
|
|
|
|
|
*/
/* Compre BOX */
#subBoxeCompre {
    background-color: #f3d6db;
    display: block;
}

#boxCompra {
    padding-top: 15px;
    width: 50%;
    background-color: #ee4e59;
    height: 300px;
}

.boxesBtn.Compre {
    background-color: #861d2f;
    border-bottom: 4px solid #42090e;
    border-right: 4px solid #42090e;
    border-radius: 10px;
    transition: 0.5s;
}

.boxesBtn.Compre:hover {
    background-color: #540b12;
}

#subBoxCompre {
    display: none;
}

#CompreArrow {
    position: relative;
    left: 23.5%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ee4e59;
}

#titleSubBoxeCompre {
    color: #3f3438;
    font-family: 'RaleWay', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}

#titleSubBoxeCompre span {
    color: #ee4e59;
}

#benefsAreaCompre {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}

.benefOpsCompre {
    display: flex;
    align-items: center;
    width: 400px;
    background-color: #e86f75;
    height: 100px;
    justify-content: space-around;
    border-radius: 10px;
}







/* Venda */
#boxVenda {
    padding-top: 15px;
    width: 50%;
    background-color: #70ab75;
    height: 300px;
}

.boxesBtn.Venda {
    background-color: #3f5642;
    border-bottom: 4px solid #2b3b2d;
    border-right: 4px solid #2b3b2d;
    border-radius: 10px;
    transition: 0.5s;
}

.boxesBtn.Venda:hover {
    background-color: #304132;
}

#subBoxeVenda {
    display: none;
    background-color: #d5f2d7;
}

#VendaArrow {
    position: relative;
    left: 73.3%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #70AB75;
}

#titleSubBoxeVenda {
    color: #3f3438;
    font-family: 'RaleWay', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}

#titleSubBoxeVenda span {
    color: #318a38;
}

.benefOpsVenda {
    background-color: #70AB75;
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    border-radius: 10px;
}








/* AREA DE SELECIONAR O ESTADO */

/* classes e ids pais */
#seuEstadoArea{
    display: flex;
    flex-direction: column;
}

#estadoContainerOpts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 800;
}

.Eopts{
    color: #70AB75;
}

.Eopts:hover{
    text-decoration: underline;
}

#seuEstadoArea{
    background-color: white;
    padding: 45px;
    border-radius: 10px
}

/* TITLEAREA */
#estadoTitleArea{
    display: flex;
    flex-direction: row;
}

.globalTitle.Estado{
    margin-left: 15px;
    margin-bottom: 25px;
}







/* Anuncios Recentes */
#anunciosRecentesArea{
    background-color: white;
    width: 100%;
    margin-top: 80px;
    padding-top: 45px;
    margin-bottom: 80px;
}

.globalTitle.AR{
    padding-left: 45px;
    margin-bottom: 25px;
}

#areaAR{
    padding: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.anuncioRecente{
    width: 230px;
    margin-bottom: 35px;
}

.imgAnuncio{
    width: 230px;
    margin-bottom: 0px
}

.nameAnuncio{
    color: white;
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
    font-family: 'Nunito Sans', sans-serif;
    color: #4A4A4A;
}

.precoAnuncio{
    color: #4A4A4A;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.precoAnuncio span{
    margin-right: 5px;
}





/* Footer */
#footerArea{
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(234, 234, 234);
}

#contentFooterArea{
    display: flex;
    width: 1280px;
    margin: auto;
    flex-flow: row wrap;
}

#col1Footer{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#col1Footer a{
    color: #4A4A4A;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

#col2Footer{
    display: flex;
    width: 50%;
    margin-top: 50px;
    justify-content: flex-end;
}

#col2Footer a{
    margin-left: 15px;
    margin-right: 15px;
}

#personalData{
    width: 100%;
    margin-top: 50px;
    color: #4A4A4A;
    font-size: 13px;
    margin-bottom: 50px;
    margin-left: 20px;
}